
@{
    ViewData["Title"] = "Success";
}
<br />
<br />
<div class="container border border-light" style="height: 400px;background-color:white">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-sm-5 offset-sm-5">Thanh toán đơn hàng thành công</div>
    <div class="col-sm-6 offset-sm-5">
        <a asp-action="Index" asp-controller="Home" class="nav-link btn" style="background-color:#fdd835;border-radius:5px;text-align:center;width: 225px">Tiếp tục mua sắm</a>
    </div>
</div>
